@charset "UTF-8";
:root {
  --primary: #008D5A;
  --white: #ffffff;
  --text-dark: #595959;
  --bg-grey: #d4d4d4;
}

@font-face {
  font-family: MSungHK;
  src: url(../font/MSungHK-Medium.otf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

img {
  display: block;
}

h1 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  letter-spacing: 0.1px;
}

h6 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

h3 {
  margin-bottom: 24px;
  font-size: 32px;
}

p {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--text-dark);
}

.fontHei {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.title {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.5;
}

.title__primary {
  color: var(--primary);
}

.para {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 1.05rem;
  text-align: justify;
  line-height: 1.6;
  color: var(--text-dark);
  font-family: "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.para.white {
  color: var(--white);
}

.center {
  text-align: center;
}

.slide_content {
  max-width: 520px;
  position: absolute;
  top: 7rem;
}

.slide_content.pos_left {
  left: 3.5rem;
}

@media screen and (max-width: 1280px) {
  .para {
    max-width: 768px;
  }
}

@media screen and (max-width: 520px) {
  .title {
    margin-bottom: 1rem;
    font-size: 1.05rem;
    letter-spacing: -2px;
  }
  .para {
    font-size: 14px;
    text-align: justify;
    letter-spacing: -1px;
  }
  .letter-space {
    letter-spacing: -2px;
  }
}

.bg_primary {
  background-color: var(--primary);
}

.bg_grey {
  background-color: var(--bg-grey);
}

.white {
  color: var(--white);
}

.text_shadow {
  text-shadow: 3px 3px 6px var(--text-dark);
}

#fullpage .container {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

@media (min-width: 1440px) {
  #fullpage .container {
    max-width: 1440px;
  }
}

@media (min-width: 1200px), (min-width: 992px), (min-width: 768px) {
  #fullpage .container {
    width: auto;
  }
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mr_12 {
  margin-right: 5rem;
}

.mr_8 {
  margin-right: 3rem;
}

.mt_3 {
  margin-top: 1.5rem;
}

.mt_4 {
  margin-top: 2rem;
}

.mb_3 {
  margin-bottom: 1.5rem;
}

.mb_4 {
  margin-bottom: 2rem;
}

.mb_12 {
  margin-bottom: 6rem;
}

.my_8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.py_8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 1280px) {
  .mb_lg_8 {
    margin-bottom: 3rem;
  }
  .mb_lg_4 {
    margin-bottom: 2rem;
  }
  .mb_lg_0 {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .mb_md_0 {
    margin-bottom: 0;
  }
  .mb_md_4 {
    margin-bottom: 2rem;
  }
}

.d_none {
  display: none !important;
}

@media (max-width: 1280px) {
  .d_lg_none {
    display: none !important;
  }
  .d_lg_block {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .d_md_none {
    display: none !important;
  }
  .d_md_block {
    display: block !important;
  }
  .d_md_block img {
    max-width: 100%;
  }
  .d_md_inline {
    display: inline-block !important;
  }
  .d_md_table {
    display: table !important;
  }
  .d_md_table img {
    max-width: 100%;
  }
}

#fp-nav {
  top: inherit;
  bottom: 50px;
  right: 1rem;
}

#fp-nav ul li a span {
  background: #ffffff;
}

#fp-nav ul li a span.fp-sr-only,
.fp-slidesNav ul li a span.fp-sr-only {
  display: none;
}

.fp-controlArrow.fp-next {
  background-image: url("../images/arrow-green.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  border: none;
  width: 52px;
  height: 150px;
  opacity: 1;
}

.fp-controlArrow.fp-prev {
  background-image: url("../images/arrow-green.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  border: none;
  width: 52px;
  height: 150px;
  opacity: 1;
  left: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fp-controlArrow.fp-next:hover {
  opacity: .5;
}

.fp-controlArrow.fp-prev:hover {
  opacity: .5;
}

.bg_primary .fp-controlArrow.fp-next,
.bg_primary .fp-controlArrow.fp-prev {
  background-image: url("../images/arrow-white.svg");
}

@media screen and (max-width: 1280px) {
  .fp-controlArrow.fp-next {
    border-width: 25px 0 25px 21px;
  }
  .fp-controlArrow.fp-prev {
    border-width: 25px 21px 25px 0;
  }
}

@media screen and (max-width: 768px) {
  #fp-nav {
    display: none;
  }
  .fp-controlArrow.fp-next {
    width: 32px;
    background-size: 24px 24px;
    right: 0;
  }
  .fp-controlArrow.fp-prev {
    width: 32px;
    background-size: 24px 24px;
    left: 0;
  }
}

.swiper-container {
  max-width: 768px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: solid 1px #fff;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.Sec0home {
  height: 100vh;
  background-image: url(../images/s0bg.jpg);
  background-position: left bottom;
  position: relative;
}

.Sec0home img {
  max-width: 60%;
  position: absolute;
  right: 8%;
  bottom: 24%;
}

.Sec0home_m {
  display: none;
}

@media screen and (max-width: 1280px) {
  .Sec0home {
    display: none;
  }
  .Sec0home_m {
    display: block;
    position: relative;
    height: 100%;
    background-image: url(../images/m-s0bg.jpg);
    background-position: center top;
  }
  .Sec0home_m img {
    max-width: 60%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 620px) {
  .Sec0home_m img {
    max-width: 80%;
  }
}

.Sec1 {
  background-image: url(../images/s1/bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.tatung_logo {
  max-width: 100%;
  margin: 0 auto;
}

.border_box {
  margin-top: 5rem;
  padding: .5rem;
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  font-size: 1.25rem;
}

@media screen and (max-width: 1280px) {
  .border_box {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Sec1 {
    background: none;
  }
  .Sec1 .container {
    background-image: url(../images/s1/m-bg.png);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 520px) {
  .tatung_logo {
    margin-bottom: 1rem;
  }
  .border_box {
    margin-top: 0;
  }
}

.Sec2_img {
  height: 100vh;
}

.Sec2_img .slide_content {
  position: relative;
}

.Sec2_img .slide_content img {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.Sec2_img .img {
  max-width: 50%;
}

@media screen and (max-width: 1280px) {
  .Sec2_img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Sec2_img .slide_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
    top: initial;
  }
  .Sec2_img .slide_content .text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    max-width: 80%;
    padding-right: 2rem;
  }
  .Sec2_img .slide_content .title {
    margin-top: 2rem;
  }
  .Sec2_img .slide_content img {
    max-width: 200px;
    height: auto;
    margin-right: 2rem;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  .Sec2_img .img {
    max-width: 100%;
    max-height: 600px;
  }
}

@media screen and (max-width: 520px) {
  .Sec2_img .slide_content .text {
    padding-right: initial;
  }
  .Sec2_img .slide_content .title {
    margin-top: 1rem;
  }
  .Sec2_img .slide_content img {
    max-width: 80px;
  }
}

.p360 {
  height: 100%;
}

.Sec3_img360 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1920px) {
  .view360.slide {
    display: none;
  }
  .Sec3_img360 {
    height: 100vh;
    background-image: url(../images/s3/sec3-360.jpg);
    background-position: right -40px;
  }
}

@media (orientation: landscape) {
  .view360.slide {
    display: none;
  }
  .Sec3_img360 {
    height: 100vh;
    background-image: url(../images/s3/sec3-360.jpg);
    background-position: center;
  }
}

@media (orientation: portrait) {
  .view360.slide {
    display: table;
  }
  .Sec3_img360 {
    display: none;
  }
}

.Sec3_img {
  height: 100vh;
  background-image: url(../images/s3/sec3img01.jpg);
  background-position: center center;
}

.Sec3_img .slide_content {
  right: 5rem;
}

@media screen and (max-width: 768px) {
  .Sec3_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
  }
  .Sec3_img .slide_content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    top: initial;
    right: initial;
    text-align: center;
  }
  .Sec3_img .slide_content .title {
    color: var(--primary);
  }
  .Sec3_img .slide_content .para {
    color: var(--text-dark);
  }
  .Sec3_img img {
    max-width: calc(100% - 4rem);
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.Sec4 .img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .Sec4 .content {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 520px) {
  .Sec4 .img {
    margin: 0 auto;
    max-width: 240px;
  }
}

.Sec5 {
  background-image: url(../images/s5/bg.png);
  background-repeat: no-repeat;
}

.Sec5 .d_flex {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .Sec5 .d_flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .Sec5 .content {
    padding: 0 2rem;
  }
  .Sec5 .img {
    width: 100%;
    max-width: 768px;
    max-height: 480px;
    margin-right: 0;
    margin-top: 2rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
}

@media screen and (max-width: 768px) {
  .Sec5 {
    background-image: url(../images/s5/m-bg.png);
  }
  .Sec5 .container {
    padding: 0;
  }
  .Sec5 .img {
    width: 100%;
    margin-top: 1rem;
  }
}

.Sec6 .info {
  max-width: 420px;
}

.Sec6 .info .d_flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Sec6 .avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.Sec6 .work {
  max-width: 768px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .Sec6 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Sec6 hr {
    margin: 1rem 0;
  }
  .Sec6 .info {
    width: 100%;
    max-width: 768px;
    margin-bottom: 2rem;
  }
  .Sec6 .info .d_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Sec6 .info .title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 90%;
            flex: 1 1 90%;
    margin-bottom: 1rem;
  }
  .Sec6 .info .para {
    text-align: center;
  }
  .Sec6 .avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 180px;
    height: 180px;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .Sec6 hr {
    margin: .5rem 0;
  }
  .Sec6 .avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }
  .Sec6 .work {
    width: 100%;
    margin-right: 0;
  }
}

.Sec7_B2 {
  background-image: url(../images/s7/sec7img02-2.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.Sec7_B2 .container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Sec7_B2 .content {
  max-width: 620px;
}

.Sec7_B2 .img {
  max-width: 100%;
  max-height: 480px;
  margin: 0 auto;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.Sec7_B3 .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.Sec7_B3 .img {
  max-width: 50%;
}

.Sec7_B3 .content {
  max-width: 480px;
}

.Sec7_B3 .para.square {
  max-width: 520px;
  margin-top: 2rem;
  padding-left: 24px;
  position: relative;
}

.Sec7_B3 .para.square::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 0;
  background-color: var(--white);
}

.Sec7_B4 .container {
  height: 100vh;
}

.Sec7_B4 .img {
  max-width: 62%;
  -webkit-transform: translateY(8%);
          transform: translateY(8%);
}

.Sec7_B4 .content {
  max-width: 420px;
}

.Sec7_B5 .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.Sec7_B5 .img {
  max-width: 60%;
}

.Sec7_B5 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  max-width: 35%;
}

.Sec7_B5 .content img {
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
  .Sec7_B2 {
    background-image: none;
  }
  .Sec7_B2 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Sec7_B2 .content {
    max-width: 768px;
  }
  .Sec7_B2 .img {
    width: 100%;
    max-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Sec7_B2 .title, .Sec7_B2 .para {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .Sec7_B3 {
    position: relative;
  }
  .Sec7_B3 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Sec7_B3 .img {
    margin-bottom: 2rem;
  }
  .Sec7_B3 .content {
    max-width: 100%;
    text-align: center;
  }
  .Sec7_B3 .para.square {
    margin-top: 1rem;
    padding-left: 12px;
  }
  .Sec7_B3 .para.square::before {
    width: 8px;
    height: 8px;
    top: 6px;
  }
  .Sec7_B4 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .Sec7_B4 .img {
    max-width: 100%;
    max-height: 280px;
    margin-bottom: 2rem;
  }
  .Sec7_B4 .content {
    max-width: 768px;
  }
  .Sec7_B5 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Sec7_B5 .img {
    max-height: 50%;
  }
  .Sec7_B5 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
  }
  .Sec7_B5 .content .text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    margin-right: 2rem;
  }
  .Sec7_B5 .content img {
    max-width: 220px;
  }
}

@media screen and (max-width: 768px) {
  .Sec7_B2 .img {
    max-height: 320px;
  }
  .Sec7_B3 .img {
    max-width: 100%;
  }
  .Sec7_B3 .para.fixed {
    top: 38%;
    max-width: 120px;
    right: 2rem;
  }
  .Sec7_B3 .para.fixed::after {
    width: 32px;
  }
  .Sec7_B5 .title {
    margin-top: 0;
  }
  .Sec7_B5 .img {
    max-width: 100%;
    max-height: 320px;
  }
  .Sec7_B5 .content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .Sec7_B5 .content img {
    max-width: 100px;
  }
}

.Sec8 img {
  max-width: 100%;
}

.Sec9 {
  background-image: url(../images//s9/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6rem;
}

.Sec9 .d_flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Sec9 .contact_us,
.Sec9 .basic_info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.Sec9 .map,
.Sec9 .reservation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.Sec9 .contact_us a {
  color: var(--white);
}

.Sec9 .basic_info .para {
  line-height: 2;
}

@media screen and (max-width: 992px) {
  .Sec9 {
    text-align: center;
  }
  .Sec9 .d_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .Sec9 .para {
    text-align: center;
  }
  .Sec9 .contact_us,
  .Sec9 .basic_info,
  .Sec9 .map,
  .Sec9 .reservation {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .Sec9 .contact_us,
  .Sec9 .basic_info,
  .Sec9 .map,
  .Sec9 .reservation {
    margin-bottom: 1rem;
  }
}

.bg_repeat {
  background: url(../images/desktop/Bg_PC_01.jpg) center top repeat-y;
  background-size: contain;
}

.intro {
  margin-bottom: 100px;
}

.intro a {
  color: #ffcc00;
}

.table_wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.table_wrapper .table {
  width: 100%;
}

.table_wrapper h3 {
  margin: 0;
  color: #fff;
  font-size: 24px;
  line-height: 2.4rem;
  text-align: left;
}

.table_wrapper td {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 2.4rem;
}

.google_map {
  max-width: 100%;
  height: 160px;
  position: relative;
}

.google_map iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .intro {
    padding-top: 100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .google_map {
    height: 30vh;
  }
}

@media (max-width: 480px) {
  .table_wrapper h3 {
    font-size: 18px;
  }
  .table_wrapper tbody tr td {
    padding: 8px 0;
    font-size: 12px;
  }
  .intro {
    padding: 0 1rem;
    margin-bottom: 0;
  }
}

.form_wrapper {
  max-width: 710px;
  margin: 0 auto;
}

.form_title {
  margin-bottom: 2rem;
  color: #fff;
  font-weight: bold;
}

.form-control {
  height: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 0;
}

.policy {
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1.5;
}

.form-check-label {
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}

.form-check-label a {
  padding-left: 4px;
  color: #ffcc00;
}

.form-check-label a:hover {
  text-decoration: underline;
}

.btn {
  color: #183149;
  border-radius: 4px;
  background-color: #fff;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  cursor: pointer;
}

.btn:hover {
  color: #183149;
  background-color: #ffcc00;
}

.btn_secondary {
  color: #fff;
  background-color: #337ab7;
  border: 0;
  font-weight: normal;
}

@media (max-width: 996px) {
  .btn_secondary {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .form_title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  .form-control,
  .btn_secondary {
    margin-bottom: .5rem;
  }
  .form-control,
  .btn,
  .btn_secondary {
    font-size: 15px;
  }
  .policy {
    margin-bottom: 8px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  .form-check-label {
    margin-bottom: 12px;
    font-size: 12px;
  }
}

.card {
  padding: 1.5rem;
  color: #595757;
  background-color: #fff;
}

.card_title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
}

.card_content {
  margin-bottom: 1rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.card_gold {
  padding: 1.5rem;
  color: #fff;
  background-color: #BF9D5A;
}

.card_gold .card_title {
  margin-top: 2rem;
}

.card_gold .card_title.extra {
  margin-top: .5rem;
}

.card_gold .card_content {
  margin-bottom: 2rem;
}

.card_bg_blue {
  color: #fff;
  background-color: #183149;
}

@media (max-width: 480px) {
  .card,
  .card_gold {
    padding: 1rem;
  }
  .card_title {
    margin-bottom: 1rem;
    font-size: 18px;
  }
  .card_content {
    padding: 0 1rem;
    font-size: 12px;
  }
  .card_gold .card_title {
    margin-top: 0;
  }
  .letter_space {
    letter-spacing: -2px;
  }
  .letter_space__plus {
    letter-spacing: -4px;
  }
  .letter_space__plus2 {
    letter-spacing: -5px;
  }
}

.Sec1_grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: 2fr 3fr;
      grid-template-rows: 2fr 3fr;
      grid-template-areas: "G1 G2" "G3 G4";
}

.Sec1_grid img {
  width: 100%;
  height: auto;
}

.Sec1_grid .g1_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: G1;
  position: relative;
  z-index: -1;
}

.Sec1_grid .g1_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: G2;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.Sec1_grid .g1_3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: G3;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.Sec1_grid .g1_4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: G4;
  max-width: 80%;
  height: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
  .Sec1_grid {
    gap: 1rem;
  }
  .Sec1_grid .g1_4 {
    height: 75%;
  }
}

@media screen and (max-width: 768px) {
  .Sec1_grid {
    gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Sec1_grid .g1_2 {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .Sec1_grid .g1_3 {
    -webkit-transform: initial;
            transform: initial;
  }
  .Sec1_grid .g1_4 {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    max-width: 100%;
    height: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
}

.Sec4_grid {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "P1 P2";
}

.Sec4_grid img {
  width: 100%;
  height: 100%;
  max-height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Sec4_grid .p_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: P1;
  -o-object-position: left;
     object-position: left;
}

.Sec4_grid .p_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: P2;
}

.Sec7_grid {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Sec7_grid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Sec7_grid li img {
  max-width: 100%;
}

.Sec7_grid li h4 {
  position: absolute;
  font-size: 2rem;
}

@media screen and (max-width: 1280px) {
  .Sec7_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .Sec7_grid li img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 520px) {
  .Sec7_grid li h4 {
    font-size: .75rem;
  }
  .Sec7_grid li img {
    height: 120px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 48px;
  position: fixed;
  bottom: 0;
  background-color: #183149;
  border-top: 1px solid #ffffff;
  text-align: right;
  z-index: 999;
}

.footer ul {
  margin: 0;
}

.footer ul li {
  display: inline-block;
  font-size: 17px;
  color: #ffffff;
  padding: 0 4px;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.footer ul li:first-of-type {
  padding-right: 10px;
  border-right: 1px solid #e5c058;
}

.footer a {
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.logo {
  width: 128px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 8px;
  }
  .logo {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */