.Sec1_grid {
	display: grid;
  grid-gap: 2rem;
  grid-template-columns: 3fr 2fr;
	grid-template-rows: 2fr 3fr;
	grid-template-areas:
		"G1 G2"
    "G3 G4";
  img {
    width: 100%;
    height: auto;
  }
  .g1_1 {
    grid-area: G1;
    position: relative;
    z-index: -1;
    img:nth-of-type(1) {
      width: 60%;
      height: auto;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }
    img:nth-of-type(2) {
      position: absolute;
      bottom: 0;
    } 
  }
  .g1_2 {
    grid-area: G2;
    width: 100%;
    object-fit: cover;
    object-position: center 4rem;
  }
  .g1_3 {
    grid-area: G3;
    transform: translateY(-15%);
  }
  .g1_4 {
    grid-area: G4;
    max-width: 80%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1280px) {
  .Sec1_grid {
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr .8fr;
    grid-template-areas:
      "G1 G1"
      "G3 G2"
      "G4 G4";
    .g1_1 {
      img:nth-of-type(1) {
        width: 320px;
        transform: translateY(15%);
      }
      img:nth-of-type(2) {
        bottom: -20%;
      } 
    }
    .g1_2 {
      height: 100%;
      object-position: center center;
    }
    .g1_3 {
      height: 100%;
      object-fit: cover;
      transform: initial;
    }
    .g1_4 {
      height: auto;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 520px)  {
  .Sec1_grid {
    grid-template-rows: 180px 128px 1fr;
    .g1_1 {
      img:nth-of-type(1) {
        max-width: 160px;
      }
      img:nth-of-type(2) {
        bottom: -10%;
      }
    }
    .g1_4 {
      max-width: 100%;
      .title {
        margin-top: 1rem;
      }
    }
  }
}

.Sec4_grid {
	display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"P1 P2";
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .p_1 {
    grid-area: P1;
    object-position: left;
  }
  .p_2 {
    grid-area: P2;
  }
}

@media screen and (max-width: 520px) {
  .Sec4_grid {
    gap: .25rem;
  }
}

.Sec7_grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
    h4 {
      position: absolute;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 1280px)  {
  .Sec7_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    li {
      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
      }
    }
  }
}


@media screen and (max-width: 520px) {
  .Sec7_grid {
    li {
      h4 {
        font-size: .75rem;
      }
      img {
        height: 120px;
      }
    }
  }  
}