.form_wrapper {
  max-width: 710px;
  margin: 0 auto;
}

.form_title {
  margin-bottom: 2rem;
  color: #fff;
  font-weight: bold;
}

.form-control {
  height: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.policy {
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1.5;
}

.form-check-label {
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
  a {
    padding-left: 4px;
    color: #ffcc00;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  color: #183149;
  border-radius: 4px;
  background-color: #fff;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: all .1s ease-in;
  cursor: pointer;
  &:hover {
    color: #183149;
    background-color: #ffcc00;
  }
}

.btn_secondary {
  color: #fff;
  background-color: #337ab7;
  border: 0;
  font-weight: normal;
}

@media (max-width: 996px) {
  .btn_secondary {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .form_title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  .form-control,
  .btn_secondary {
    margin-bottom: .5rem;
  }
  .form-control,
  .btn,
  .btn_secondary {
    font-size: 15px;
  }
  .policy {
    margin-bottom: 8px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  .form-check-label  {
    margin-bottom: 12px;
    font-size: 12px;
  }
}