.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
// 主視覺
.Sec0home {
  height: 100vh;
  background-image: url(../images/s0bg.jpg);
  background-position: left bottom;
  position: relative;
  img {
    max-height: 50%;
    position: absolute;
    right: 8%;
    top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .Sec0home_m {
    position: relative;
    height: 100%;
    background-image: url(../images/m-s0bg.jpg);
    background-position: center 70%;
    img {
      max-height: 50%;
      margin: 0 auto;
    }
  }
}

// 百年職人
.tatung_logo {
  max-width: 80%;
  margin: 0 auto;
}
.border_box {
  margin-top: 5rem;
  padding: .5rem;
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  font-size: 1.25rem;
}

// 城市綠境 
.Sec2_img {
  height: 100vh;
  img:nth-of-type(1) {
    width: 36%;
    position: absolute;
    left: 0;
    bottom: -25%;
  }
  img:nth-of-type(2) {
    max-width: 720px;
    object-fit: cover;
  }
}

.Sec3_img {
  height: 100vh;
  background-image: url(../images/s3/sec3img01.jpg);
  background-position: center center;
}

// 建築團隊
.info {
  max-width: 420px;
}
.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.work {
  max-width: 768px;
  object-fit: cover;
}







@media screen and (max-width: 480px) {
}


@media (orientation: landscape) {}
@media (orientation: portrait) {}
