.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
// 主視覺
.Sec0home {
  height: 100vh;
  background-image: url(../images/s0bg.jpg);
  background-position: left bottom;
  position: relative;
  img {
    max-height: 50%;
    position: absolute;
    right: 8%;
    top: 10%;
  }
}
.Sec0home_m {
  display: none;
}
@media screen and (max-width: 1280px) {
  .Sec0home {
    display: none;
  }
  .Sec0home_m {
    display: block;
    position: relative;
    height: 100%;
    background-image: url(../images/m-s0bg.jpg);
    background-position: center 70%;
    img {
      max-height: 50%;
      margin: 0 auto;
      position: relative;
      top: 2rem;
    }
  }
}
@media screen and (max-width: 620px) {
  .Sec0home_m {
    img {
      max-width: 80%;
    }
  }
}

// 百年職人
.tatung_logo {
  max-width: 100%;
  margin: 0 auto;
}
.border_box {
  margin-top: 5rem;
  padding: .5rem;
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  font-size: 1.25rem;
}
@media screen and (max-width: 1280px) {
  .border_box {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 520px) {
  .tatung_logo {
    margin-bottom: 1rem;
  }
  .border_box {
    margin-top: 0;
  }
}

// 城市綠境 
.Sec2_img {
  height: 100vh;
  img:nth-of-type(1) {
    width: 36%;
    transform: translateY(48%);
  }
  img:nth-of-type(2) {
    width: 50%;
    max-width: 720px;
    object-fit: cover;
  }
}

@media screen and (max-width: 1280px) {
  .Sec2_img {
    flex-direction: column-reverse;
    justify-content: center;
    .slide_content {
      max-width: 100%;
      text-align: center;
      position: relative;
      top: 2rem;
    }
    img:nth-of-type(1) {
      max-width: 240px;
      position: absolute;
      left: 2rem;
      transform: translateY(24px);
    }
    img:nth-of-type(2) {
      width: 80%;
      max-height: 520px;
    }
  }
}

@media screen and (max-width: 768px) {
  .Sec2_img {
    img:nth-of-type(1) {
      max-width: 160px;
    }
  }
}
@media screen and (max-width: 520px) {
  .Sec2_img {
    img:nth-of-type(1) {
      max-width: 80px;
      left: 1rem;
<<<<<<< HEAD
      transform: translateY(-50%);
    }
    img:nth-of-type(2)  {
      width: 100%;
      max-height: 200px;
      object-position: top;
=======
      transform: translateY(-70%);
    }
    img:nth-of-type(2)  {
      width: 100%;
      max-height: 160px;
>>>>>>> da408bdf010f4b383e62325ff74a4f529d0a9b83
    }
  }
}

.Sec3_img {
  height: 100vh;
  background-image: url(../images/s3/sec3img01.jpg);
  background-position: center center;
}

@media screen and (max-width: 520px) {
  .Sec3_img {
    display: flex;
    align-items: center;
    .slide_content {
      width: 100%;
      padding: 0 1rem;
      position: relative;
      top: initial;
      left: initial;
      text-align: center;
    }
  }
}

// 快意馳騁
@media screen and (max-width: 1280px) {
  .Sec5 {
    .container {
      justify-content: flex-start;
      flex-direction: column;
      text-align: center;
      img {
        width: 100%;
        max-width: 768px;
        max-height: 480px;
        margin-right: 0;
        margin-bottom: 1rem;
        object-fit: cover;
        object-position: bottom;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .Sec5 {
    .container {
      img {
        max-height: 150px;
      }
    }
    .mb_3 {
      margin-bottom: 1rem;
    }
  }
}

// 建築團隊
.info {
  max-width: 420px;
}
.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.work {
  width: 100%;
  max-width: 768px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .Sec6 {
    .container {
      flex-direction: column-reverse;
      align-items: center;
    }
    hr {
      margin: 1rem 0;
    }
  }
  .info {
    width: 1005;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    .title {
      text-align: left;
      margin-bottom: 1rem;
    }
  }
  .avatar {
    flex: 0 0 auto;
    width: 180px;
    height: 180px;
    margin-right: 1.5rem;
  }
  .work {
    max-width: 768px;
    height: 480px;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: bottom;
  }
}

@media screen and (max-width: 768px) {
  .Sec6 {
    hr {
      margin: .5rem 0;
    }
  }
  .avatar {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 520px) {
  .Sec6 {
    .container {
      flex-direction: column
    }
  }
  .info {
    flex-direction: column;
    margin-bottom: 1rem;
    .title {
      text-align: center;
    }
  }
  .avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .work {
    height: 160px;
  }
}

// 建築精工
.Sec7_B2 {
  background-image: url(../images/s7/sec7img02-2.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  .content {
    max-width: 630px;
  }
  img:nth-of-type(2) {
    display: none;
  }
}
.Sec7_B3 {
  position: relative;
  background-image: url(../images/s7/sec7img03-1.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 60%;
  .para.fixed {
    max-width: 520px;
    padding-left: 24px;
    position: absolute;
    bottom: calc(20% + 4px);
    transform: translateX(30%);
    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      left: 0;
      background-color: var(--white);
    }
  }
}

.Sec7_B4 {
  background-image: url(../images/s7/sec7img04-1.png);
  background-repeat: no-repeat;
  background-position: 10% 150%;
  background-size: 55% auto;
  .content {
    max-width: 420px;
  }
}

.Sec7_B5 {
  background-image: url(../images/s7/sec7img05-2.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: auto 70%;
  .content {
    max-width: 460px;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .Sec7_B2 {
    background-image: none;
    .container {
      justify-content: center;
    }
    .content {
      max-width: 768px;
    }
    .img {
      display: flex;
    }
    img {
      flex: 1 1 50%;
      max-width: 50%;
      height: 560px;
      object-fit: cover;
      &:nth-of-type(2) {
        display: block;
        margin-left: .5rem;
      }
    }
    .title, .para {
      flex: 0 0 100%;
    }
  }
  .Sec7_B3 {
    background-position: 90% 20%;
    .slide_content {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      max-width: 768px;
      height: 80%;
      margin: 0 auto;
      padding: 0 2rem;
      position: relative;
      top: initial;
      left: initial;
      text-align: center;
    }
    .para.fixed {
      max-width: 280px;
      top: 45%;
      transform: translateX(35%);
    }
  }

  .Sec7_B4 {
    background-position: center 10%;
    background-size: auto 60%;
    .container {
      height: 80%;
      justify-content: center;
      align-items: flex-end;
      text-align: center;
    }
    .content {
      max-width: 768px;
    }
  }

  .Sec7_B5 {
    background-size: auto 55%;
    background-position: 85% 15%;
    .container {
      height: 80%;
    }
    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      max-width: 768px;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      img {
        max-width: 320px;
        transform: translateY(20%);
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .Sec7_B2 {
    img {
      height: 200px;
    }
  }

  .Sec7_B3 {
    background-position: 50% 80px;
    background-size: 70% auto;
    .para.fixed {
      width: 100%;
      padding-left: 12px;
      font-size: .75rem;
      top: 45%;
      left: 50%;
      bottom: initial;
      transform: translateX(-50%);
      &::before {
        width: 8px;
        height: 8px;
        top: 6px;
      }
    }
  }

  .Sec7_B4 {
    background-size: auto 45%;
  }

  .Sec7_B5 {
<<<<<<< HEAD
    background-size: 80% auto;
=======
    background-size: 90% auto;
>>>>>>> da408bdf010f4b383e62325ff74a4f529d0a9b83
    background-position: center 80px;
    .content {
      justify-content: flex-start;
      img {
        width: 80px;
        max-height: 80px;
        margin-bottom: 1rem;
        object-fit: cover;
        transform: initial;
        position: absolute;
        top: 80px;
      }
      .para {
        margin-bottom: 0;
      }
    }
  }
}

// 頂級公設
.Sec8 {
  img {
    max-width: 100%;
  }
}


@media (orientation: landscape) {}
@media (orientation: portrait) {}
