.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
// 主視覺
.Sec0home {
  height: 100vh;
  background-image: url(../images/s0bg.jpg);
  background-position: left bottom;
  position: relative;
  img {
    max-width: 60%;
    position: absolute;
    right: 8%;
    bottom: 24%;
  }
}
.Sec0home_m {
  display: none;
}
@media screen and (max-width: 1280px) {
  .Sec0home {
    display: none;
  }
  .Sec0home_m {
    display: block;
    position: relative;
    height: 100%;
    background-image: url(../images/m-s0bg.jpg);
    background-position: center 70%;
    img {
      max-width: 60%;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
@media screen and (max-width: 620px) {
  .Sec0home_m {
    img {
      max-width: 80%;
    }
  }
}

// 百年職人
.Sec1 {
  background-image: url(../images/s1/bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.tatung_logo {
  max-width: 100%;
  margin: 0 auto;
}
.border_box {
  margin-top: 5rem;
  padding: .5rem;
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  font-size: 1.25rem;
}
@media screen and (max-width: 1280px) {
  .border_box {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Sec1 {
    background: none;
    .container {
      background-image: url(../images/s1/m-bg.png);
      background-position: center bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 520px) {
  .tatung_logo {
    margin-bottom: 1rem;
  }
  .border_box {
    margin-top: 0;
  }
}

// 城市綠境 
.Sec2_img {
  height: 100vh;
  .slide_content {
    position: relative;
    img {
      transform: translateY(20%);
    }
  }
  .img {
    max-width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .Sec2_img {
    flex-direction: column-reverse;
    justify-content: center;
    .slide_content {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      max-width: 100%;
      top: initial;
      .text {
        flex: 1 1 80%;
        max-width: 80%;
        padding-right: 2rem;
      }
      .title {
        margin-top: 2rem;
      }
      img {
        max-width: 200px;
        height: auto;
        margin-right: 2rem;
        transform: translateY(-2rem);
      }
    }
    .img {
      max-width: 100%;
      max-height: 600px;
    }
  }
}
@media screen and (max-width: 520px) {
  .Sec2_img {
    .slide_content{
      .text {
        padding-right: initial;
      }
      .title {
        margin-top: 1rem;
      }
      img {
        max-width: 80px;
      }
    }
  }
}

// 空拍
.p360 {
  height: 100%;
}
.Sec3_img360 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1920px) {
  .view360.slide {
    display: none;
  }
  .Sec3_img360 {
    height: 100vh;
    background-image: url(../images/s3/m-sec3-360.jpg);
    background-position: right -40px;
  }
}
@media (orientation: landscape) {
  .view360.slide {
    display: none;
  }
  .Sec3_img360 {
    height: 100vh;
    background-image: url(../images/s3/sec3-360.jpg);
    background-position: center;
  }
}

@media (orientation: portrait) {
  .view360.slide {
    display: table;
  }
  .Sec3_img360 {
   display: none;
  }
}


.Sec3_img {
  height: 100vh;
  background-image: url(../images/s3/sec3img01.jpg);
  background-position: center center;
  .slide_content {
    right: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .Sec3_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    .slide_content {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 2rem;
      position: relative;
      top: initial;
      right: initial;
      text-align: center;
      .title {
        color: var(--primary);
      }
      .para {
        color: var(--text-dark);
      }
    }
    img {
      max-width: calc(100% - 4rem);
      margin: 0 auto;
      object-fit: cover;
    }
  }
}

// 核心地王
.Sec4 {
  .img {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .Sec4 {
    .content {
      margin-top: 1rem;
    }
  }
}
@media screen and (max-width: 520px) {
  .Sec4 {
    .img {
      margin: 0 auto;
      max-width: 240px;
    }
  }
}

// 快意馳騁
.Sec5 {
  background-image: url(../images/s5/bg.png);
    background-repeat: no-repeat;
  .d_flex {
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1280px) {
  .Sec5 {
    .d_flex {
      justify-content: flex-start;
      flex-direction: column-reverse;
      text-align: center;
    }
    .content {
      padding: 0 2rem;
    }
    .img {
      width: 100%;
      max-width: 768px;
      max-height: 480px;
      margin-right: 0;
      margin-top: 2rem;
      object-fit: cover;
      object-position: bottom;
    }
  }
}
@media screen and (max-width: 768px) {
  .Sec5 {
    background-image: url(../images/s5/m-bg.png);
    .container {
      padding: 0;
    }
    .img {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

// 建築團隊
.Sec6 {
  .info {
    max-width: 420px;
    .d_flex {
      flex-direction: column;
    }
  }
  .avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .work {
    max-width: 768px;
    position: relative;
  }
}

@media screen and (max-width: 1280px) {
  .Sec6 {
    .container {
      flex-direction: column;
      align-items: center;
    }
    hr {
      margin: 1rem 0;
    }
    .info {
      width: 100%;
      max-width: 768px;
      margin-bottom: 2rem;
      .d_flex {
        flex-direction: row;
        justify-content: center;
      }
      .title {
        flex: 1 1 90%;
        margin-bottom: 1rem;
      }
      .para {
        text-align: center;
      }
    }
    .avatar {
      flex: 0 0 auto;
      width: 180px;
      height: 180px;
      margin-right: 1.5rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .Sec6 {
    hr {
      margin: .5rem 0;
    }
    .avatar {
      width: 100px;
      height: 100px;
      margin-bottom: 1rem;
    }
    .work {
      width: 100%;
      margin-right: 0;
    }
  }
}

// 建築精工
.Sec7_B2 {
  background-image: url(../images/s7/sec7img02-2.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  .container {
    justify-content: flex-start;
  }
  .content {
    max-width: 620px;
  }
  .img {
    max-width: 100%;
    max-height: 480px;
    margin: 0 auto;
    margin-bottom: 1rem;
    object-fit: cover;
  }
}
.Sec7_B3 {
  .container {
    align-items: flex-start;
    flex-direction: row-reverse;
    position: relative;
  }
  .img {
    max-width: 50%;
  }
  .content {
    max-width: 480px;
  }
  .para.square {
    max-width: 520px;
    margin-top: 2rem;
    padding-left: 24px;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 8px;
      left: 0;
      background-color: var(--white);
    }
  }
}
.Sec7_B4 {
  .container {
    height: 100vh;
  }
  .img {
    max-width: 62%;
    transform: translateY(8%);
  }
  .content {
    max-width: 420px;
  }
}
.Sec7_B5 {
  .container {
    flex-direction: row-reverse;
  }
  .img {
    max-width: 60%;
  }
  .content {
    flex: 1 0 35%;
    max-width: 35%;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .Sec7_B2 {
    background-image: none;
    .container {
      justify-content: center;
    }
    .content {
      max-width: 768px;
    }
    .img {
      width: 100%;
      max-height: 600px;
      object-fit: cover;
    }
    .title, .para {
      flex: 0 0 100%;
    }
  }
  .Sec7_B3 {
    position: relative;
    .container {
      flex-direction: column;
      align-items: center;
    }
    .img {
      margin-bottom: 2rem;
    }
    .content {
      max-width: 100%;
      text-align: center;
    }
    .para.square {
      margin-top: 1rem;
      padding-left: 12px;
      &::before {
        width: 8px;
        height: 8px;
        top: 6px;
      }
    }
  }
  .Sec7_B4 {
    .container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .img {
      max-width: 100%;
      max-height: 280px;
      margin-bottom: 2rem;
    }
    .content {
      max-width: 768px;
    }
  }
  .Sec7_B5 {
    .container {
      flex-direction: column;
    }
    .img {
      max-height: 50%;
    }
    .content {
      display: flex;
      justify-content: space-between;
      max-width: 768px;
      margin: 0 auto;
      margin-top: 2rem;
      text-align: center;
      .text {
        flex: 1 1 80%;
        margin-right: 2rem;
      }
      img {
        max-width: 220px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Sec7_B2 {
    .img {
      max-height: 320px;
    }
  }
  .Sec7_B3 {
    .img {
      max-width: 100%;
    }
    .para.fixed {
      top: 38%;
      max-width: 120px;
      right: 2rem;
      &::after {
        width: 32px;
      }
    }
  }
  .Sec7_B5 {
    .title {
      margin-top: 0;
    }
    .img {
      max-width: 100%;
      max-height: 320px;
    }
    .content {
      align-items: flex-start;
      img {
        max-width: 100px;
      }
    }
  }
}

// 頂級公設
.Sec8 {
  img {
    max-width: 100%;
  }
}

.Sec9 {
  background-image: url(../images//s9/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6rem;
  .d_flex {
    align-items: flex-start;
  }
  .contact_us, 
  .basic_info {
    flex: 1 0 30%;
  }
  .map,
  .reservation {
    flex: 1 1 60%;
  }
  .contact_us {
    a {
      color: var(--white);
    }
  }
  .basic_info {
    .para {
      line-height: 2;
    }
  }
}
@media screen and (max-width: 992px) {
  .Sec9 {
    text-align: center;
    .d_flex {
      flex-direction: column;
      margin-bottom: 0;
    }
    .para {
      text-align: center;
    }
    .contact_us, 
    .basic_info,
    .map,
    .reservation {
      flex: 1 1 100%;
      width: 100%;
      max-width: 100%;
      margin-bottom: 2rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .Sec9 {
    .contact_us, 
    .basic_info,
    .map,
    .reservation {
      margin-bottom: 1rem;
    }
  }
}
// 立即預約
@media (orientation: landscape) {}
@media (orientation: portrait) {}
