*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic",
    CenturyGothic, AppleGothic, sans-serif;
}
img {
  display: block;
}
h1 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic",
    CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  letter-spacing: 0.1px;
}
h6 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic",
    CenturyGothic, AppleGothic, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
h3 {
  margin-bottom: 24px;
  font-size: 32px;
}
p {
  margin: 0;
}
hr {
  border: 0;
  height: 1px;
  background-color: var(--text-dark);
}

// Font
.fontHei {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Century Gothic",
    CenturyGothic, AppleGothic, sans-serif;
}
.title {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.5;
  &__primary {
    color: var(--primary)
  }
}
.para {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 1.05rem;
  text-align: justify;
  line-height: 1.6;
  color: var(--text-dark);
  @include fontHei;
  &.white {
    color: var(--white);
  }
}
.center {
  text-align: center;
}
.slide_content {
  max-width: 520px;
  position: absolute;
  top: 7rem;
  &.pos_left {
    left: 3.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .para {
    max-width: 768px;
  }
}

@media screen and (max-width: 520px) {
  .title {
    margin-bottom: 1rem;
    font-size: 1.05rem;
    letter-spacing: -2px;
  }
  .para {
    font-size: 14px;
    text-align: justify;
    letter-spacing: -1px;
  }
  .letter-space {
    letter-spacing: -2px;
  }
}

// Color
.bg_primary {
  background-color: var(--primary);
}
.bg_grey {
  background-color: var(--bg-grey);
}
.white {
  color: var(--white);
}
.text_shadow {
  text-shadow: 3px 3px 6px var(--text-dark);
}

// Container
#fullpage {
  .container {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
  }
}
@media (min-width: 1440px) {
  #fullpage {
    .container {
      max-width: 1440px;
    }
  }
}
@media (min-width: 1200px),
       (min-width: 992px),
       (min-width: 768px) {
  #fullpage {
    .container {
      width: auto;
    }
  }
}



// Flex
.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify_start {
  justify-content: flex-start;
}
.justify_end {
  justify-content: flex-end;
}
.align_start {
  align-items: flex-start;
}
.wrap {
  flex-wrap: wrap;
}

// Space
.mr_12 {
  margin-right: 5rem;
}
.mr_8 {
  margin-right: 3rem;
}
.mt_3 {
  margin-top: 1.5rem;
}
.mt_4 {
  margin-top: 2rem;
}
.mb_3 {
  margin-bottom: 1.5rem;
}
.mb_4 {
  margin-bottom: 2rem;
}
.mb_12 {
  margin-bottom: 6rem;
}
.my_8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.py_8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 1280px) {
  .mb_lg_8 {
    margin-bottom: 3rem;
  }
  .mb_lg_4 {
    margin-bottom: 2rem;
  }
  .mb_lg_0 {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .mb_md_0 {
    margin-bottom: 0;
  }
  .mb_md_4 {
    margin-bottom: 2rem;
  }
}

// Display
.d_none {
  display: none !important;
}
@media (max-width: 1280px){
  .d_lg_none {
    display: none !important;
  }
  .d_lg_block {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .d_md_none {
    display: none !important;
  }
  .d_md_block {
    display: block !important;
    img {
      max-width: 100%;
    }
  }
  .d_md_inline {
    display: inline-block !important;
  }
  .d_md_table {
    display: table !important;
    img {
      max-width: 100%;
    }
  }
}